@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@keyframes fadein {
  from{
    opacity: 0;
  }
  to
  {
    opacity: 1;
  }
}

@keyframes bouncein {
  from
  {
    transform: scale(0.2);
  }
  to
  {
    transform: scale(1);
  }
  
}

@keyframes dropin {
  from{
    top: -60px;
  }
  to
  {
    top: 5px;
  }
}
header
{
    justify-content: center;
    display: flex;
    
}

header a{
  display: inline-block;
  position: relative;
  right: -288px;
  text-decoration: none;
  padding-right: 60px;
}

.logo{
  position: absolute;
  left: 50px;
  padding: 10px 25px;
  margin-top: 10px;
  font-weight: 600;
  font-size: 1.8em;
  /*color: #42187a;*/
  color: #dfb6b2;
  animation: dropin 2s ease-in-out forwards;
}

.links
{
    margin: 50px 36% 20px 0px;
    align-items: center;
    display: inline;
    padding: 40px;
    padding: 10px;
    text-decoration: none;
    font-weight: 500;
}

.main
{

  text-align: center;
  justify-content: center;
  padding: 70px 0px;
  margin: 5% 0px;
}

.main h1{
  color: #fbe4d8;
  animation: fadein 2s ease-in-out forwards;
  opacity: 0;
  font-size: 1.5em;
}

.main p{
  font-size: 1.8em;
  font-weight: 600;
  margin-top: 0px;
  color: wheat;
  animation: fadein 2s ease-in-out forwards;
  opacity: 0;
}

.orderbut{ /*Order button*/
  color: wheat;
  background-color: #522b5b;
  text-decoration: none;
  font-size: 1.4em;
  font-weight: 800;
  display: inline-block;
  padding: 0.9375em 2.1875em;
  /*letter-spacing: .5ex;*/
  border-radius: 15px;
  margin-bottom: 40px;
  transition: .7s ease;
  position: relative;
  left: -40px;
  animation: bouncein 2s ease-in-out;
}

.orderbut:hover{
  color: aliceblue;
  font-size: 1.45em;
  transform: scale(1.1);
 
  transition: 0.7 ease;
}

.memberbut{ /*member button*/
  color: wheat;
  background-color: #522b5b;
  text-decoration: none;
  font-size: 1.4em;
  font-weight: 800;
  display: inline-block;
  padding: 0.9375em 2.1875em;
  /*letter-spacing: .5ex;*/
  border-radius: 15px;
  margin-bottom: 40px;
  transition: .7s ease;
  position: relative;
  left: 30px;
  animation: bouncein 2s ease-in-out;
}

.memberbut:hover{
  color: aliceblue;
  font-size: 1.45em;
  transform: scale(1.1);
 
  transition: 0.7 ease;
}

span{
  text-transform: uppercase;
  color: #522b5b;
}


.video-bg { /*the background*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 682px;
    object-fit: cover;
    z-index: -1; /* Send it behind content */
    border-radius: 0px 0px 50px 50px ;
}

.service
{
  background-color: black;
  padding-top: 200px;
}

.title
{
  color: white;
  font-size: 1.5em;
  text-align: center;
}

.card
{
  display: flex;
  background-color: #dfb6b2;
  width: 22.25em;
  box-shadow: 0 5px 25px rgba(1 1 1 / 20%);
  border-radius: 10px;
  padding: 25px;
  margin: 15px;
  transition: 0.7s ease;
  justify-content: center;
  flex-direction: column;
}

.name
{
  text-align: center;
}

.icon
{
  font-size: 100px;
  text-align: center;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: black ;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}
  